{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <a href="{% url 'closed_listings' %}">View Closed Listings</a>
    <div class="row">
        <div class="container"> 
            {% for listing in is_active %}
                {% if is_active %}
                    <div class="card col-sm-6" style="width: 100rem;">
                        <img class="card-img-top" src="{{ listing.image_link }}" alt="Pic">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title}}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <p id="bid"><strong>Price:</strong> ${{ listing.starting_bid }}</p>
                            <div class="grey1">
                                Created at: {{listing.created_time}}
                            </div>
                        </div>
                        <a href="{% url 'page_listing' listing.id %}" class="btn btn-primary">Visit Product</a>
                        <br>
                    </div>
                    <br>
                    <br>
                {% endif %}
            {% endfor %}
        </div> 
    </div>
{% endblock %}